/* aplicando transition uma unica vez nos componentes que são dinâmicos */

.TechCard, .TechName, .TechExperience, .TechLevel, .TechImage, .TechPlus, .circle{ 
    transition: .5s ease-in-out;
}

.Tech{
    width: 95vw;
    background-color: rgb(255, 255, 255);
    /* border: solid 2px #46b3b3; */
    display: flex;
    align-content: center;
    justify-content: center;

    flex-wrap:wrap;
    padding: 80px 0px 150px 0px;
    z-index: 0;
    /* border-radius: 12px; */
    /* background: yellow; */
}
.TechHeader{
    width: 100%;
    height: 90px;

    display: flex;
    flex-direction: row;

    font-family: 'Open Sans', sans-serif;

    align-items: center;
    justify-content: center;

    padding: 0px 60px;
    margin-bottom: 60px;
}

.TechHeader h1{
    font-size: 26pt;
    font-weight: 400;
    color: teal;
}


.TechCard{
    width: 305px;
    min-width: 305px;
/*     background-color: #012840e8; */
    border-radius: 10px;
    font-family: 'Open Sans', sans-serif;
   
    border: solid 2px #7ED9D9;

    display: flex;
    flex-direction: column;
/*     box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
 */
    padding: 20px 25px;
    margin: 20px  20px 56px 20px;
    /*  margin: 0px; */
    cursor: pointer;
}

/*  */
#upFade{
    transform: translateY(-400px);
    opacity: 0;
    filter: blur(50px);
    transition: 1.5s ease-in-out;
    margin: 0px;
}

#dowFade{
    transform: translateY(0px);
    opacity: 1;
    filter: blur(0px);
}

/*  */
.TechCard:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    /*  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px; */
    background-color:#012840e8;
}

.TechCard:hover .TechName{
    letter-spacing: .02em;    
    margin-left: 2px;
    color: whitesmoke;
}

.TechCard:hover .TechExperience{
    color: rgb(163, 163, 163);
}

.TechCard:hover .TechLevel{
    color: rgb(245, 245, 245);
}

/*  imagem do cartão */
.TechImage{
    width: 96px;
    height: 96px;
}
.TechCard:hover .TechImage{
    margin-left: 3px;
}

/*  Titulo do cartão / nome da tecnologia */
.TechName{
    font-size: 24pt;
    font-weight: 500;
    color: #012840;
    color: rgb(190, 190, 190);
}

/* Breve descrição sobre o uso da tecnologia */
.TechExperience{
    font-size: 12pt;
    margin: 20px 0px;
    color: grey;
    opacity: 0.7;
    letter-spacing: 0.06em;
    line-height: 1.5;
}

.TechCard:hover .TechExperience{
    opacity: 1;
}


.TechCardFotter{
    margin: 20px 0px;
    display: flex;
    justify-content: space-between;

}


/* nível de skill tecnica com a tecnologia */
.TechLevel{
    color: #175973;
    animation: ma 2s infinite ease-in-out forwards;    
    font-weight: bold;
 
}

.TechPlus{
    color: rgb(92, 32, 52);
    text-decoration: none;
    opacity: .1;
    
}

.TechCard:hover .TechPlus{
    opacity: 1;
    font-weight: bold;
    color: #7ED9D9;
}


@keyframes ma{
    0%{
        opacity: 0.8;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0.7;
    }
}


.TechFotter{
    width: 100%;
    height: 100px;
  /*   background-color: #7ED9D9; */

    display: flex;
    align-items: center;
    justify-content: center;
}

#activatedCircle{
    background-color: #175973;
}

#desactivatedCircle{
    background-color: #7ED9D9;
}

.circle{
    cursor: pointer;
    width: 90px;
    height: 10px;
/*     border-radius: 50%; */   
    border-radius: 5px;
    background-color: #7ED9D9;
    margin: 0px 6px;
}

