@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
/* redenindo temporariamente o html */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f1f6;
    user-select: none;

    overflow-x: hidden;
}

.App{
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
}

/* 
https://color.adobe.com/pt/explore?page=2
#
#175973
#2999A6
#7ED9D9
#D0F2F2
*/

