
.HistorySections{
    width: 95vw;
    height: auto;

    background: linear-gradient(4deg, #012840, #175973, #2999a6);
    background-size: 600% 600%;
/*     box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
 */
    -webkit-animation: AnimationName 5s ease infinite;
    -moz-animation: AnimationName 5s ease infinite;
    -o-animation: AnimationName 5s ease infinite;
    animation: AnimationName 5s ease infinite;

    display: flex;
    flex-wrap: wrap;

    padding: 20px 0px;

    align-items: center;
    justify-content: space-evenly;

    overflow: hidden;

    z-index: 1;
}

@-webkit-keyframes AnimationName {
    0%{background-position:48% 0%}
    50%{background-position:53% 100%}
    100%{background-position:48% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:48% 0%}
    50%{background-position:53% 100%}
    100%{background-position:48% 0%}
}
@-o-keyframes AnimationName {
    0%{background-position:48% 0%}
    50%{background-position:53% 100%}
    100%{background-position:48% 0%}
}
@keyframes AnimationName {
    0%{background-position:48% 0%}
    50%{background-position:53% 100%}
    100%{background-position:48% 0%}
}

.HistoryCard{
    width: 300px;
    height: 150px;
    margin: 30px 20px;
   /*  background: chartreuse; */
    display: flex;
    flex-direction: column;

    font-family: 'Montserrat', sans-serif;

    align-items: center;
    justify-content: center;
}

.HistoryCard img {
    width: 65px;

    margin: 15px 0px;
}

.HistoryCard h1{
    color: #D0F2F2;
    font-size: 12pt;
    font-weight: 600;
    letter-spacing:0em;
    text-align: center;
}